<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="sticky">
<%= link_to (new_auction_path) do %>
<button class= "btn btn-danger col-xs-6 col-md-2 pull-right">
Sell something?
</button>
<% end %>
</div>
<div>
<%= render 'item' %>
</div>
</body>
