<div class="container">
  <h3>追蹤</h3>
  <table class="table table-hover">
    <tr>
      <td>#</td>
      <td>Title</td>
      <td>Type</td>
      <td></td>
    </tr>
    <% current_user.favorites.order('favoritable_type, favoritable_id').each_with_index do |t, idx| %>
      <tr>
        <td><%= (idx+1) %></td>
        <td><%= t.favoritable.name %></td>
        <td><%= t.favoritable_type %></td>
        <td><%= link_to "Link",t.favoritable, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </table>
</div>
