<h1>index</h1>
<%= link_to 'New', new_post_path, class: 'btn btn-default' %>
<% @posts.each do |post| %>
  <%= image_tag post.avatar.url(:medium) %>
  <h1><%= link_to post.name, post %></h1>
<% end %>
